# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bit_doges_app/node_modules
/bit_doges_app/.pnp
/bit_doges_app/.pnp.js

# testing
/bit_doges_app/coverage

# production
/bit_doges_app/build

# FrontEnd
/bit_doges_app/.DS_Store
/bit_doges_app/.env.local
/bit_doges_app/.env.development.local
/bit_doges_app/.env.test.local
/bit_doges_app/.env.production.local

/bit_doges_app/npm-debug.log*
/bit_doges_app/yarn-debug.log*
/bit_doges_app/yarn-error.log*

# Misc
TODO.txt
bitdoge_examples/
/node_modules

# BackEnd
/bit_doges_app/api/doge_generation/doge_data/
/bit_doges_app/api/doge_generation/config/
/bit_doges_app/api/doge_generation/skeletons/
/bit_doges_app/api/.venv/
/bit_doges_app/api/.idea/

*.pyc